<p id="notice"><%= notice %></p>

<div class="centrado">
  <div class="titulo">
    <h1>Perfil</h1>
  </div>

  <div class="cuerpo_centro">
      <p>
        <strong>Nombre:</strong>
        <%= @cliente.nombre %>
      </p>

      <p>
        <strong>Apellidos:</strong>
        <%= @cliente.apellidos %>
      </p>

      <p>
        <strong>Domicilio:</strong>
        <%= @cliente.domicilio %>
      </p>

      <p>
        <strong>Correo:</strong>
        <%= @cliente.correo %>
      </p>

    <%= link_to 'Edit', edit_cliente_path(@cliente) %>

  </div>
</div>