<!DOCTYPE html>
<html>
  <head>
    <title>SOSEMADO Client View</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
  <nav>
        <div class="opcion_nav">
              <%= link_to image_tag("logo.png") + content_tag(:p, "SOSEMADO"), root_path, class:"logo" %>
        </div>
        <a class="menu-toggle" href="#" data-turbolinks="false">
                <span class="barra"></span>
                <span class="barra"></span>
                <span class="barra"></span>
        </a>

        <div class="menu">
          <ul>
            <% if session[:user_id] == nil %>
              <li class="opcion_nav_right"><%= link_to content_tag(:p, "Regístrate"), "/DS8/clientes/new" %></a></li>
              <li class="opcion_nav_right"><%= link_to content_tag(:p, "Iniciar sesión"), "/DS8/login" %></a></li>
            <% else %>
              <% cliente = Cliente.find_by(id: session[:user_id]) %>
              <li class="opcion_nav_right"><%= link_to content_tag(:p, "Mis trabajos"), trabajos_path %></li> 
              <li class="opcion_nav_right"><%= link_to content_tag(:p, "Crear trabajo"), new_trabajo_path %></a></li> 
              <li class="opcion_nav_right"><%= link_to content_tag(:p, "Logeado como #{cliente[:nombre]} #{cliente[:apellidos]}"), "#"  %></li> 
              <li class="opcion_nav_right"><%= link_to content_tag(:p, "Mi perfil"), "/DS8/profile " %></a></li>
              <li class="opcion_nav_right"><%= link_to content_tag(:p, "Cerrar sesión"), "/DS8/logout" %></a></li>    
            <% end %>
          </ul> 
        </div>
          
    </nav>  
    <%= javascript_pack_tag 'toggleButton' %>
    <%= yield %>
  </body>
</html>
